.root{
	-fx-background-color:	#311d09;
}

.barramenu{
	-fx-background-color:#462b0b;
}
.context-menu{
	-fx-background-color:#462b0b;
	-fx-border-color:white;
}
.label{
	-fx-text-fill:Yellow;
}

.smallbutton{	
	-fx-text-fill:black;
	-fx-background-color: #ffa80f;
}
.custombutton {
	-fx-text-fill:black;
	-fx-background-color:#ffa80f;
}
.smallbutton:hover , .custombutton:hover{
	-fx-background-color:#f5f5f5;
}
.smallbutton:armed , .custombutton:armed{
	-fx-background-color:#5b5b5b;
}