.root{
	-fx-background-color: #191970;
}

.barramenu{
	-fx-background-color:#2828ae;
}
.context-menu{
	-fx-background-color:#2828ae;
	-fx-border-color:white;
}
.label{
	-fx-text-fill:white;
}

.smallbutton{	
	-fx-text-fill:black;
	-fx-background-color: #2bbaba;
}
.custombutton {
	-fx-background-color:	#2bbaba;
	-fx-text-fill:black;
}
.smallbutton:hover , .custombutton:hover{
	-fx-background-color:#f5f5f5;
}
.smallbutton:armed , .custombutton:armed{
	
	-fx-background-color:#430002;
}