.root{
	-fx-background-color:	#151515;
}

.barramenu{
	-fx-background-color:#3f3f3f;
}
.context-menu{
	-fx-background-color:#3f3f3f;
	-fx-border-color:white;
}
.label{
	-fx-text-fill:white;
}

.smallbutton{	
	-fx-text-fill:black;
	-fx-background-color: #f1f1f1;
}
.custombutton {
	-fx-text-fill:black;
	-fx-background-color:#f1f1f1;
}
.smallbutton:hover , .custombutton:hover{
	-fx-background-color:#f5f5f5;
}
.smallbutton:armed , .custombutton:armed{
	-fx-background-color:#5b5b5b;
}